In [3]:
import pandas as pd

df = pd.read_csv("../raw/sales.csv")
df['date'] = pd.to_datetime(df['date'])
df.set_index('date', inplace=True)

df['lag_1'] = df['sales'].shift(1)
df['lag_7'] = df['sales'].shift(7)
df['lag_30'] = df['sales'].shift(30)

df['rolling_mean_7'] = df['sales'].rolling(7).mean()
df['rolling_std_7'] = df['sales'].rolling(7).std()

df['lag_1'] = df['sales'].shift(1)
df['lag_2'] = df['sales'].shift(2)

df = df.dropna()

df.to_csv("../processed/sales_features.csv")
df.head()

            sales  lag_1  lag_7  lag_30  rolling_mean_7  rolling_std_7  lag_2
date
2022-01-31    179  179.0  158.0   121.0      173.428571       5.623082  176.0
2022-02-01    181  179.0  163.0   121.0      176.000000       3.915780  179.0
2022-02-02    179  181.0  170.0   121.0      177.285714       2.984085  179.0
2022-02-03    178  179.0  173.0   124.0      178.000000       2.309401  181.0
2022-02-04    178  178.0  174.0   131.0      178.571429       1.511858  179.0