In [1]:
import pandas as pd
import numpy as np

dates = pd.date_range(start="2022-01-01", end="2022-12-31")
sales = 120 + np.cumsum(np.random.normal(1.2, 3, len(dates)))

df = pd.DataFrame({
    "date": dates,
    "sales": sales.astype(int)
})

df.to_csv("../raw/sales.csv", index=False)
df.head()

        date  sales
0 2022-01-01    121
1 2022-01-02    121
2 2022-01-03    121
3 2022-01-04    124
4 2022-01-05    131